<section class="homepage-cards">
  <div class="typesofsubjects">

    <div class="cards">
      <div class="card" *ngFor="let details of subjectDetails">
        <img src="{{details.image}}" alt="{{details.subject}}"/>
        <div class="card-content">
          <h2>{{ details.subject }}</h2>
          <p>{{ details.info }}</p>
        </div>
        <mat-chip-listbox aria-label="subsections" >
          <mat-chip *ngFor="let sub of details.subsections" (click)="chipClicked(details.subject)">{{sub}}</mat-chip>
        </mat-chip-listbox>
      </div>
    </div>

  </div>
</section>

<hr>
  