<div class="discussion-container">
  <div class="box">
    <div class="heading">Discussion Page</div>
  </div>

  <hr />

  <div class="question-answer">
    <div class="question-heading">
      <h3>Question Heading</h3>
      <p>Asked 12 years, 8 months ago | Modified 1 year, 7 months ago</p>
      <p></p>
    </div>

    <hr />
    <div class="show-questions">
      <p>
        What can cause a java.lang.StackOverflowError? The stack printout that I
        get is not very deep at all (only 5 methods). What can cause a
        java.lang.StackOverflowError? The stack printout that I get is not very
        deep at all (only 5 methods). What can cause a
        java.lang.StackOverflowError? The stack printout that I get is not very
        deep at all (only 5 methods)?
      </p>
      <p></p>
    </div>
    <div class="comment-box question-heading">
      <h3>Comments</h3>
      <div class="single-comment" *ngFor="let comment of comments">
        <ul id="listofPosts" class="collection">
          <li class="commentaire">
            <div class="collection-item">
              <div class="post">
                <p class="post-title">{{comment.name}}</p>
                <p class="text truncate">
                  {{comment.commentText}}
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="comments">
      <div class="question-heading">
        <h3>Add your Comment</h3>

        <div class="row">
          <div class="col m4">
            <form>
              <div class="form-group">
                <label for="name">Your Name</label>
                <input type="text" class="form-control" id="name" />
              </div>
              <div class="form-group">
                <label for="comment">Your Comment</label>
                <textarea
                  type="password"
                  class="form-control"
                  id="comment"
                ></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
